@import "vars";

.div___Principal-container-withe {
    background-color: #E5E5E5;
}

.nav__bar {
    .nav-bar__item{
        margin: 0px 15px;
    }
    display: flex;
    justify-content: flex-end;
}

@mixin nav-buttons ($nav-button-family, $nav-button-font-style, $nav-button-font-weight, $nav-button-font-size, $nav-button-line-height,$nav-button-text-align, $nav-button-letter-spacing) {
    font-family: $nav-button-font-family ;
    font-style: $nav-button-font-style;
    font-weight: $nav-button-font-weight;
    font-size: $nav-button-font-size;
    line-height: $nav-button-line-height;
    text-align: $nav-button-text-align;
    letter-spacing: $nav-button-letter-spacing;
}

.a__nav-buttons--black {
    @include nav-buttons($nav-button-font-family, $nav-button-font-style, $nav-button-font-weight, $nav-button-font-size, $nav-button-line-height, $nav-button-text-align, $nav-button-letter-spacing);
    color: black;
}

.button__contact-us--black {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    background-color: black;
    border-radius: 5px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
}

.p__modelo-clase {
    font-family: 'Abril Fatface', cursive;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
}