$nav-button-font-family:'Raleway', sans-serif;
$nav-button-font-style: normal;
$nav-button-font-weight: 600;
$nav-button-font-size: 14px;
$nav-button-line-height: 16px;
$nav-button-text-align: center;
$nav-button-letter-spacing: 0.05em;
